:root {
    --bs-secondary-rgb: 250, 243, 224;
    --secondary-color: #D5CFC7;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-image: url("../images/banner.png");
}

.card {
    background-color: var(--secondary-color);
}

.card-body {
    word-break: normal;
    overflow-wrap: normal;
}

.card-carousel {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.card-carousel-items {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
    height: 350px;
}

.card-carousel-item-1 {
    position: relative;
    z-index: 3;
    grid-area: 1 / 1 / 2 / 4;
}

.card-carousel-item-2 {
    position: relative;
    z-index: 2;
    grid-area: 1 / 3 / 2 / 6;
}

.card-carousel-item-3 {
    position: relative;
    z-index: 1;
    grid-area: 1 / 5 / 2 / 8;
}

.card-carousel-item {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
    transform: scale(1) translateX(0);
    transform-origin: center center;
    height: 350px;
}

.card-carousel-item.inactive {
    transition: none;
    opacity: 0.6;
    transform: scale(0.9 translateX(10px));
}

.card-carousel-item:hover {
    z-index: 5;
    transform: scale(1.2);
    position: relative;
}

.card-carousel-item.hidden {
    visibility: hidden;
    pointer-events: none;
}

.size-6 {
    width: 24px;
    height: 24px;
}

/* Custom util classes to extend bootstrap */

.w-md-90 {
    width: min(90%, 691px);
}

.w-200px {
    width: 200px;
}

button.disabled {
    color: darkgray;
}

.no-animate {
    transition: none !important;
}

@media (max-width: 768px) {
    .w-200px {
        width: 100%;
    }

    nav {
        flex-direction: column;
    }

    .card-carousel-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .card-carousel-item-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .card-carousel-item-2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .card-carousel-item-3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .card-carousel-item {
        height: auto;
    }
}

@media (max-height: 768px) {
    .card-carousel-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .card-carousel-item-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .card-carousel-item-2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .card-carousel-item-3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .card-carousel-item {
        height: auto;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
  :root {
    --bs-body-font-size: clamp(0.8rem, 1vw, 1.2rem) !important;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  :root {
    --bs-body-font-size: clamp(0.8rem, 1vh, 1.2rem) !important;
  }
}