:root {
    --bs-secondary-rgb: 250, 243, 224;
    --secondary-color: #D5CFC7;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-image: url("../images/banner.png");
}

.card-caption {
    position: absolute;
    bottom: 10px;
    font-size: 1rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 2px black;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.2rem 0.4rem;
    max-width: 90%;
    white-space: normal;
}

.card:hover {
    z-index: 5;
    transform: scale(1.2);
    position: relative;
}

button.disabled {
    color: darkgray;
}

.no-animate {
    transition: none !important;
}

.filter-invert {
    filter: invert(1);
}

.w-200px {
    width: 200px;
}

.carousel-item,
.carousel-inner {
    overflow: visible;
}

/* bootstrap changes */

.card {
    background-color: var(--secondary-color);
}

.card-body {
    word-break: normal;
    overflow-wrap: normal;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0.8;
}

.carousel-control-prev {
    left: -3.5rem;
}

.carousel-control-next {
    right: -3.5rem;
}


.carousel-indicators {
    margin-bottom: -2rem;
}

.carousel {
    margin: 0 auto;
}

/* Mobile devices */

.mobile-display {
    display: none;
}

@media (max-width: 768px) {
    .w-200px {
        width: 100%;
    }

    nav {
        flex-direction: column;
    }

    .mobile-display {
        display: flex;
        justify-content: center;
    }

    .desktop-display {
        display: none;
    }
}