:root {
    --bs-primary-rgb: 33, 33, 33;
    --bs-secondary-rgb: 250, 243, 224;
    --bs-body-color-rgb: 70, 70, 70;
    --bs-dark-rgb: 80, 80, 80;
    --secondary-color: #C9C2BA;
    --bs-body-color: rgb(var(--bs-body-color-rgb));
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-image: url("../images/banner.png");
}

.recipe {
    background-color: var(--secondary-color);
    width: fit-content;
    max-width: 90%;
    margin: 3rem auto;
}

.recipe li::marker {
    color: rgb(var(--bs-primary-rgb));
}

.card-caption {
    position: absolute;
    bottom: 10px;
    font-size: 1rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 2px black;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.2rem 0.4rem;
    max-width: 90%;
    white-space: normal;
}

.filter-invert {
    filter: invert(1);
}

.w-200px {
    width: 200px;
}

.carousel-item,
.carousel-inner {
    overflow: visible;
}

nav {
    box-shadow: 0 0 0 1px rgba(var(--bs-dark-rgb), 0.5);
}

#searchbar {
    border: none;
    background-color: var(--secondary-color);
    box-shadow: 0 0 0 1px rgba(var(--bs-dark-rgb), 0.5);
}

.button {
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: rgb(var(--bs-primary-rgb));
    border: none;
    box-shadow: 0 0 0 1px rgba(var(--bs-dark-rgb), 0.5);
    padding: 0.25rem 0.5rem;
    height: 100%;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

#contact {
    background-color: var(--secondary-color);
    width: min(600px, 75%);
}

/* bootstrap overrides */

.shadow {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2),
            0 0 20px rgba(201, 194, 186, 0.8) !important;
}

.card {
    background-color: var(--secondary-color);
}

.card-body {
    word-break: normal;
    overflow-wrap: normal;
    min-height: 3.5em;
    overflow: hidden;
    color: rgb(var(--bs-primary-rgb)) !important;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0.8;
}

.carousel-control-prev {
    left: -3.5rem;
}

.carousel-control-next {
    right: -3.5rem;
}


.carousel-indicators {
    margin-bottom: -2rem;
}

.carousel {
    margin: 0 auto;
}

/* Mobile devices */

.mobile-display {
    display: none;
}

@media (max-width: 768px) {
    .w-200px {
        width: 100%;
    }

    nav {
        flex-direction: column;
    }

    .mobile-display {
        display: flex;
        justify-content: center;
    }

    .desktop-display {
        display: none;
    }
}

@media (min-width: 769px) {
    #searchbar,
    .search-btn {
        box-shadow: 0 0 0 1px rgba(var(--bs-dark-rgb), 0.1);
    }
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        z-index: 5;
        transform: scale(1.2);
        position: relative;
    }

    .nav-item:hover {
        background-color: var(--secondary-color);
    }
}